<!-- dashboard.component.html -->
<div class="dashboard-container">
  <div
    class="notification"
    *ngIf="showNotification"
    [ngClass]="currentNotification?.type"
  >
    <div class="notification-content">
      <h4>{{ currentNotification?.message }}</h4>
      <p>{{ currentNotification?.details }}</p>
    </div>
  </div>
  <header class="header1 text-white text-center py-5">
    <h2>Admin</h2>
  </header>

  <!-- Navigation Header -->
  <nav class="header">
    <div class="nav-content">
      <div class="nav-group">
        <button class="btn btn-dark" (click)="toggleRequestModal()">
          <i class="fas fa-inbox"></i>
          Requests
          <span class="badge" *ngIf="pendingRequestsCount > 0"></span>
        </button>
        <button class="btn btn-dark" (click)="showBuyers()">
          <i class="fas fa-users"></i>
          Buyers
        </button>
        <button class="btn btn-dark" (click)="showSellers()">
          <i class="fas fa-handshake"></i>
          Sellers
        </button>
        <button class="btn btn-dark" (click)="showPropertyManagers()">
          <i class="fas fa-building"></i>
          Property Manager
        </button>
      </div>
      <button class="btn btn-profile" (click)="toggleSidebar()">
        <i class="fas fa-user-circle"></i>
        {{ profile.userCommonDetails.firstName || "Profile" }}
      </button>
    </div>
  </nav>

  <!-- Sidebar Profile -->
  <app-profile [profile]="profile" [hidden]="isSidebarOpen"></app-profile>

  <!-- <div class="sidebar-overlay" [hidden]="isSidebarOpen" (click)="toggleSidebar()"></div> -->
</div>
<div>
  <router-outlet></router-outlet>
</div>
