<!-- dashboard.component.html -->
<div class="dashboard-container">
    <div class="notification" *ngIf="showNotification" [ngClass]="currentNotification?.type">
        <div class="notification-content">
            <h4>{{ currentNotification?.message }}</h4>
            <p>{{ currentNotification?.details }}</p>
        </div>
    </div>
    <header class="header1 text-white text-center py-5">
        <h2>Reeal Estate Management</h2>
    </header>

    <!-- Navigation Header -->
    <nav class="header">
        <div class="nav-content">
            <div class="nav-group">
                <button class="btn btn-dark" (click)="toggleRequestModal()" routerLink="/dashboard/seller">
                    <i class="fas fa-inbox"></i>
                    Home
                </button>
                <button class="btn btn-dark">
                    <i class="fas fa-users"></i>
                    LatestAdded
                </button>
                <button class="btn btn-dark" (click)="displayPopup()">
                    <i class="fas fa-handshake"></i>
                    Add
                </button>
                <button class="btn btn-dark">
                    <i class="fas fa-building"></i>
                    Property Managers
                </button>

                <div class="position-relative d-inline-block px-4">
                    <button class="btn btn-dark position-relative " (click)="toggleNotification1()"><i
                            class="bi bi-chat-dots"></i>
                        Message
                        <!-- Notification bubble without numbers  -->
                        <span *ngIf="notificationVisible1" class="notification-bubble"></span>
                    </button>
                </div>

                <div class="position-relative d-inline-block">
                    <button class="btn btn-dark position-relative" (click)="toggleNotification()"><i
                            class="bi bi-bell"></i>
                        Notification
                        <!-- Notification bubble without numbers  -->
                        <span *ngIf="notificationVisible" class="notification-bubble"></span>
                    </button>
                </div>
            </div>
            <button class="btn btn-profile" (click)="toggleSidebar()">
                <i class="fas fa-user-circle"></i>
                {{ profile.userCommonDetails.firstName || 'Profile' }}
            </button>
        </div>
    </nav>

    <!-- Sidebar Profile -->
    <app-profile [profile]="profile" [hidden]="isSidebarOpen" ></app-profile>
</div>

<div class="pop-up" [hidden]="openPopup" >
    <div class="card popup-card text-center">
        <h4>Which property you want to add</h4>
        <div class="d-flex py-4">
            <button class="btn btn-primary mx-4" (click)="displayPopup()" routerLink="/dashboard/seller/plot_form">Plot</button>
            <button class="btn btn-primary mx-4" (click)="displayPopup()" routerLink="/dashboard/seller/apartment_form">Flat in Apartment</button>
            <button class="btn btn-primary mx-4" (click)="displayPopup()" routerLink="/dashboard/seller/villas_form">Villa</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>