<div class="container py-4">
    <div class="container my-5">
        
    </div>

    <div *ngIf="apartmentsData != []">
        <div class="card p-3 mb-4" *ngFor="let property of apartmentsData">
            <div class="row h-100">
                <!-- Image Grid -->
                <div class="col-md-5 h-100">
                    <div class="row g-2 h-100">
                        <div class="col-6 pe-1">
                            <img [src]="property.commPropDetails.images[0]" class="img-fluid rounded h-100"
                                alt="Property Image">
                        </div>
                        <div class="col-6 h-100">
                            <div class="row  h-50 mb-1">
                                <img [src]="property.commPropDetails.images[1]" class="img-fluid rounded mb-1"
                                    alt="Property Image">
                            </div>
                            <div class="row g-2 h-50">
                                <div class="col-6 pe-1">
                                    <img [src]="property.commPropDetails.images[2]" class="img-fluid rounded"
                                        alt="Property Image">
                                </div>
                                <div class="col-6">
                                    <img [src]="property.commPropDetails.images[3]" class="img-fluid rounded"
                                        alt="Property Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Property Details -->
                <div class="col-md-7 px-4">
                    <div class="property-icons">
                        <span><i class="fas fa-bed"></i> {{ property.type }}</span>
                        <span><i class="fas fa-bath"></i> {{ property.baths }} Baths</span>
                        <span><i class="fas fa-couch"></i> {{ property.furnishedStatus }}</span>
                        <span><i class="fas fa-building"></i> {{ property.balconies }} Balconies</span>
                    </div>

                    <div class="property-data py-4">
                        <p>{{property.type}} Flat For Sale in {{property.commPropDetails.address.city}},
                            {{property.commPropDetails.address.district}}</p>
                        <p>$ {{property.commPropDetails.price}}</p>
                        <p>{{property.commPropDetails.facing}}</p>
                        <p>{{property.furnishedStatus}}</p>
                    </div>
                    <button class="btn btn-primary" (click)="viewMore(property,'apartment')">View More</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="plotsData != []">
        <div class="card p-3 mb-4" *ngFor="let property of plotsData">
            <div class="row h-100">
                <!-- Image Grid -->
                <div class="col-md-5 h-100">
                    <div class="row g-2 h-100">
                        <div class="col-6 pe-1">
                            <img [src]="property.commPropDetails.images[0]" class="img-fluid rounded h-100"
                                alt="Property Image">
                        </div>
                        <div class="col-6 h-100">
                            <div class="row  h-50 mb-1">
                                <img [src]="property.commPropDetails.images[1]" class="img-fluid rounded mb-1"
                                    alt="Property Image">
                            </div>
                            <div class="row g-2 h-50">
                                <div class="col-6 pe-1">
                                    <img [src]="property.commPropDetails.images[2]" class="img-fluid rounded"
                                        alt="Property Image">
                                </div>
                                <div class="col-6">
                                    <img [src]="property.commPropDetails.images[3]" class="img-fluid rounded"
                                        alt="Property Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Property Details -->
                <div class="col-md-7 px-4">
                    <div class="property-icons">
                        <span><i class="fas fa-bed"></i> {{ property.commPropDetails.carpetArea }} Sqft</span>
                        <span><i class="fas fa-bath"></i> Approved By {{ property.authorityApproval }} </span>
                    </div>

                    <div class="property-data py-4">
                        <p>Plot For Sale in {{property.commPropDetails.address.city}},
                            {{property.commPropDetails.address.district}}</p>
                        <p>$ {{property.commPropDetails.price}}.00</p>
                        <p>{{property.commPropDetails.facing}} Facing</p>
                    </div>
                    <button class="btn btn-primary" (click)="viewMore(property,'plots')">View More</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="villasData != []">
        <div class="card p-3 mb-4" *ngFor="let property of villasData">
            <div class="row h-100">
                <!-- Image Grid -->
                <div class="col-md-5 h-100">
                    <div class="row g-2 h-100">
                        <div class="col-6 pe-1">
                            <img [src]="property.commPropDetails.images[0]" class="img-fluid rounded h-100"
                                alt="Property Image">
                        </div>
                        <div class="col-6 h-100">
                            <div class="row  h-50 mb-1">
                                <img [src]="property.commPropDetails.images[1]" class="img-fluid rounded mb-1"
                                    alt="Property Image">
                            </div>
                            <div class="row g-2 h-50">
                                <div class="col-6 pe-1">
                                    <img [src]="property.commPropDetails.images[2]" class="img-fluid rounded"
                                        alt="Property Image">
                                </div>
                                <div class="col-6">
                                    <img [src]="property.commPropDetails.images[3]" class="img-fluid rounded"
                                        alt="Property Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Property Details -->
                <div class="col-md-7 px-4">
                    <div class="property-icons">
                        <span><i class="fas fa-bed"></i> {{ property.type }}</span>
                        <span><i class="fas fa-bath"></i> {{ property.baths }} Baths</span>
                        <span><i class="fas fa-couch"></i> {{ property.furnishedStatus }}</span>
                        <span><i class="fas fa-building"></i> {{ property.balconies }} Balconies</span>
                    </div>

                    <div class="property-data py-4">
                        <p>{{property.type}} Villa For Sale in {{property.commPropDetails.address.city}},
                            {{property.commPropDetails.address.district}}</p>
                        <p>$ {{property.commPropDetails.price}}</p>
                        <p>{{property.commPropDetails.facing}}</p>
                        <p>{{property.furnishedStatus}}</p>
                    </div>
                    <button class="btn btn-primary" (click)="viewMore(property,'villa')">View More</button>
                </div>
            </div>
        </div>
    </div>

</div>